<div class = "row">
  <div class="col-md-6">
    <nb-card size="small">
      <nb-card-header>
        <span>Leave Balance</span>
      </nb-card-header>
      <nb-card-body>
        <ul class="leave-list">
          <li *ngFor="let item of leaves">
            <div class="quota">
              {{ item.quota }}
            </div>
            <div class="from-date">
              <div class="title">From</div>
              <div class="value">{{ item.fromDate }}</div>
            </div>
            <div class="to-date">
              <div class="title">To</div>
              <div class="value">{{ item.toDate }}</div>
            </div>
            <div class="entilement">
                <div class="title">Entitlement</div>
                <div class="value">{{ item.entitlement }}</div>
            </div>
            <div class="remaining">
                <div class="title">Remaining</div>
                <div class="value">{{ item.remaining }}</div>
            </div>
          </li>
        </ul>
      </nb-card-body>
    </nb-card>
  </div>

  <div class = "col-md-6">
  <nb-card size="small">
      <nb-card-header>
        <span>Holiday List</span>
      </nb-card-header>
      <nb-card-body>
        <ul class="holiday-list">
          <li *ngFor="let item of holidays">
            <div class="name">
              {{ item.name }}
            </div>
            <div class="date">
              <div class="title">Date</div>
              <div class="value">{{ item.date }}</div>
            </div>
            <div class="type">
              <div class="title">Type Of Holiday</div>
              <div class="value">{{ item.type }}</div>
            </div>
          </li>
        </ul>
      </nb-card-body>
    </nb-card>
  </div>
</div>